<div id="question-content">
  <label id="new-app-title">New App Questionnaire</label>
  <div id="sub-heading-div">
    <hr>
    <div id="sub-title-div">
      <div id="title-image">
        <img src="../../assets/images/newAppImage.png" height="20px" width="20px">
        <label id="sub-title">New App Questionnaire</label>
      </div>
    </div>

    <div *ngIf="showRecommendation === false">
      <div class="progress">
        <div id="progress-bar-style" class="progress-bar" role="progressbar"  [style.width]="(progressBarWidth)*100 + '%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <br>
      <div id = "errorMessageDiv" class="alert alert-danger" role="alert" *ngIf="raiseError">
        {{ errorMessage }}
      </div>
      <div id="questionDiv">
        <div id="questionString">
          <p>{{ question.questionId }}.  {{ question.questionText }}</p>
        </div>
  
        <div id="option-type" *ngIf='question.answer.answerChoiceType !== "free-text"'>
          <div *ngFor="let option of question.answer.answerChoice; index as i" id="options">
            <div *ngIf='question.answer.answerChoiceType === "multi-choice"'>
              <p>
                <input class="form-check-input" type="checkbox" value="{{option.optionText}}" id="defaultCheck1" [checked]="qCheckbox[i]" (change)="checkBox(i)">
                <label class="form-check-label" for="defaultCheck1">
                  {{ option.optionText }}
                  <!-- {{option}} -->
                </label>
              </p>
            </div>
            <div *ngIf='question.answer.answerChoiceType === "single-choice"'>
              <p>
                <input class="form-check-input" (change)="radioChangeHandler($event)" type="radio" name="yesOrNo" id="exampleRadios1" value={{option.optionText}}>
                <label class="form-check-label" for="exampleRadios1">
                  {{option.optionText}}
                  <!-- {{option}} -->
                </label>
              </p>
            </div>
          </div>
        </div>
  
        <div id="textAreaDiv" *ngIf='(question.answer.answerChoiceType === "free-text" || question.answer.answerChoiceType === "numeric")'>
          <p>
            <input class="form-control" type="text" [(ngModel)]="userText" placeholder="Please enter an answer" >
          </p>
        </div>
  
        
  
        <div id="textAreaDiv">
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Additional Comments:</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" name="comments" type="text" [(ngModel)]="comments" rows="3"></textarea>
          </div>
  
          <div id="buttonDiv">
            <button id="nextButton" (click)="onNextClick()" [disabled]='question.lastQuestion === true' type="button" class="btn btn-primary">Next</button>
            <!--<button id="previousButton" (click)="onPreviousClick()" [disabled]='question.questionId === "q1"' type="button" class="btn btn-primary">Previous</button>-->
            <button id="submit-button" (click)="showRecommendationPage()" *ngIf='question.lastQuestion === true' type="button" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div> 

    </div>

    <!-- Recommendation page -->

    <div id="recommendation-page" *ngIf="showRecommendation === true">
      <h5>Recommended Technology Stack</h5>
      <label>Based on your responses we have come up with the following recommended technology stack:</label>

      <div id="tech-stack" *ngIf="tech_stack_loaded">
        <div id="first-column">
          <div id="web-ui">
            <h6>Web UI</h6>
            <label>{{ technology.webUI[0] }}</label>
          </div>
          <div id="sql">
            <h6>SQL</h6>
            <label>{{ technology.sql[0] }}</label>
          </div>
        </div>
        
        <div id="second-column">
          <div id="nosql">
            <h6>NOSQL</h6>
            <label>{{ technology.noSql[0] }}</label>
          </div>
          <div id="language">
            <h6>Language</h6>
            <label>{{ technology.language[0] }}</label>
          </div>
        </div>      
      </div>

      <div id="recommendation-button-div">
        <button id="accept-proceed-button" type="button" class="btn btn-primary">Accept & Proceed</button>
        <button id="request-change-button" type="button" class="btn btn-primary">Request Change</button>
      </div>

    </div>

  </div>
</div>