<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <!-- <mat-toolbar>Menu</mat-toolbar> -->
    <mat-nav-list dense>
      <a mat-list-item href="#">Dashboard</a>
      <a mat-list-item href="#">My Apps</a>
      <a mat-list-item href="#">New App Questionnaire</a>
      <a mat-list-item href="#">Self-Service</a>
      <a mat-list-item href="#">Prod Release Automation</a>
      <a mat-list-item href="#">Deployment Report</a>
      <a mat-list-item href="#">Manage InActive</a>
      <a mat-list-item href="#">Approval</a>
      <a mat-list-item href="#">Jira</a>
      <a mat-list-item href="#">Docker Container Info</a>
      <a mat-list-item href="#">My Exceptions</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- <mat-toolbar color="primary"> -->
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-lssabel="Side nav toggle icon">menu</mat-icon>
      </button>
      <!-- <span>questionnaireApp</span>
    </mat-toolbar> -->
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
