<div id="divContainer">
  <div class="menu-style">
    <img src="../../assets/images/dashboard.png" height="20px" width="20px">
    <p class="zero-space">Dashboard</p>
  </div>
  <div class="menu-style" routerLink="my-apps">
    <img src="../../assets/images/desktopAppIcon.png" height="20px" width="20px">
    <p class="zero-space">My Apps</p>
  </div>
  <div class="menu-style" routerLink="new-app-questionnaire">
    <img src="../../assets/images/newAppImage.png" height="20px" width="20px">
    <p class="zero-space">New App Questionnaire</p>
  </div>
  <div class="menu-style">
    <img src="../../assets/images/self-service.png" height="20px" width="20px">
    <p class="zero-space">Self-Service</p>
  </div>
  <div class="menu-style">
    <img src="../../assets/images/Report.png" height="20px" width="20px">
    <p class="zero-space">Deployment Report</p>
  </div>
  <div class="menu-style">
    <img src="../../assets/images/settings.png" height="20px" width="20px">
    <p class="zero-space">Manage InActive</p>
  </div>
  <div class="menu-style">
    <img src="../../assets/images/checkmark.png" height="20px" width="20px">
    <p class="zero-space">Approval</p>
  </div>
  <div class="menu-style">
    <img src="../../assets/images/jira.png" height="20px" width="20px">
    <p class="zero-space">Jira</p>
  </div>
  <div class="menu-style">
    <img src="../../assets/images/Report.png" height="20px" width="20px">
    <p class="zero-space">Docker Container Info</p>
  </div>
  <div class="menu-style" routerLink="my-exceptions">
    <img src="../../assets/images/exception.png" height="20px" width="20px">
    <p class="zero-space">My Exceptions</p>
  </div>
</div>