<div>
    <div id="anthem-logo-div">
        <app-anthem-logo></app-anthem-logo>
        <label id="logout">Logout</label>
    </div>
    <div id="welcome">
        <h1>Welcome, John!</h1>
        <div id="text-box-button">
            <input id="text-box" class="form-control" type="text" placeholder="Search Text">
            <button id="search-button" type="button" class="btn btn-secondary">Search</button>
        </div>
    </div>
    <div id="links">
        <div id="featured-apis">
            <h5>Featured APIs</h5>
            <br>
            <h6>Lorem Ipsum</h6>
            <p>
                Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum<br>
                Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
            </p>
            <h6>Lorem Ipsum</h6>
            <p>
                Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum<br>
                Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
            </p>
            
        </div>
        <div id="anth-tech-news">
            <h5>Anthem Technology News</h5>
            <br>
            <h6>Lorem Ipsum</h6>
            <p>
                Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum<br>
                Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
            </p>
            <h6>Lorem Ipsum</h6>
            <p>
                Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum<br>
                Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
            </p>
            
        </div>
    </div>
</div>


